# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("weatherpy.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Temperature,Max Temp,Wind Speed
0,Mandalgovi,0,MN,1580607044,66,45.76,106.27,0.55,0.55,14.92
1,Merritt Island,90,US,1580607044,87,28.54,-80.67,59.25,61.00,10.29
2,Atambua,100,ID,1580606542,74,-9.11,124.89,79.95,79.95,0.81
3,Borogontsy,92,RU,1580607045,96,62.67,131.17,-21.48,-21.48,5.28
4,Bluff,100,NZ,1580607045,93,-46.60,168.33,57.00,57.00,8.01
...,...,...,...,...,...,...,...,...,...,...
570,Bertoua,66,CM,1580607193,35,4.58,13.68,60.49,60.49,2.89
571,Whitehorse,90,CA,1580607132,77,60.72,-135.05,4.55,5.00,10.29
572,Inuvik,20,CA,1580607194,67,68.35,-133.72,-25.92,-22.00,10.33
573,Yangi Marg`ilon,100,UZ,1580607194,68,40.43,71.72,30.97,32.00,6.93
574,Sao Pedro do Sul,56,BR,1580607194,78,-29.62,-54.18,75.20,75.20,1.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"]

In [4]:
weather_data["Humidity"].max()

100

In [9]:
fig = gmaps.figure(map_type="TERRAIN")

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
hotel_df = weather_data.loc[(weather_data["Max Temp"] < 80) & (weather_data["Max Temp"] > 70) & (weather_data["Wind Speed"] < 10) & (weather_data["Cloudiness"] == 0)]
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Temperature,Max Temp,Wind Speed
40,Nioro,0,GM,1580606532,35,13.35,-15.75,72.64,72.64,7.90
59,Busselton,0,AU,1580607059,33,-33.65,115.33,72.10,75.99,3.74
101,Caborca,0,MX,1580607070,31,30.58,-111.10,69.87,71.01,4.70
146,Tucurui,0,BR,1580607083,92,-3.77,-49.67,74.25,74.25,3.06
165,Touros,0,BR,1580607088,88,-5.20,-35.46,78.80,78.80,4.70
182,Bell Ville,0,AR,1580607093,29,-32.63,-62.69,72.61,72.61,8.93
251,Sao Filipe,0,CV,1580607110,48,14.90,-24.50,75.06,75.06,9.46
330,Presidencia Roque Saenz Pena,0,AR,1580607129,51,-26.79,-60.44,76.33,76.33,4.85
400,Santiago del Estero,0,AR,1580607146,47,-27.80,-64.26,77.40,77.40,8.86
429,Kyabram,0,AU,1580607155,37,-36.32,145.05,73.22,77.00,8.99
440,Saint-Pierre,0,RE,1580607158,73,-21.34,55.48,72.52,77.00,6.93
441,Villarrica,0,PY,1580607158,78,-25.75,-56.43,74.77,74.77,1.81
483,Morondava,0,MG,1580607168,79,-20.28,44.28,72.63,72.63,5.41

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
params = {
    "radius": 5000,
    "keyword": "lodging",
    "key": g_key
}

In [12]:
index = 0
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    narrowed_city = requests.get(base_url, params=params)
    #print(narrowed_city.url)
    narrowed_city = narrowed_city.json()
   
    try:
        hotel_df.loc[index, "Hotel Name"] = narrowed_city["results"][0]["name"]
        print(f"Processing Record {index}")
        print(narrowed_city["results"][0]["name"])
        index += 1
    except:
        print("skip")
        pass

C:\Users\ozzmo\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\ozzmo\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Processing Record 40
Manka Kunda
Processing Record 59
Abbey Beach Resort
Processing Record 101
Motel Elba
Processing Record 146
Hotel GoiÃ¢nia
Processing Record 165
Hotel Vila Gale Touros
Processing Record 182
Los Inmigrantes Hotel y Resto Bar
Processing Record 251
Hotel Xaguate
Processing Record 330
Hotel Gualok
Processing Record 400
Hotel Casino Carlos V
Processing Record 429
Ky Country Roads Motor Inn
Processing Record 440
LODGE PALMAE
Processing Record 441
San Miguel Hotel
Processing Record 483
Palissandre Cote Ouest resort & SPA

In [13]:
hotel_df = hotel_df.dropna()
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Temperature,Max Temp,Wind Speed,Hotel Name
40,Nioro,0,GM,1580606532,35,13.35,-15.75,72.64,72.64,7.90,Manka Kunda
59,Busselton,0,AU,1580607059,33,-33.65,115.33,72.10,75.99,3.74,Abbey Beach Resort
101,Caborca,0,MX,1580607070,31,30.58,-111.10,69.87,71.01,4.70,Motel Elba
146,Tucurui,0,BR,1580607083,92,-3.77,-49.67,74.25,74.25,3.06,Hotel GoiÃ¢nia
165,Touros,0,BR,1580607088,88,-5.20,-35.46,78.80,78.80,4.70,Hotel Vila Gale Touros
182,Bell Ville,0,AR,1580607093,29,-32.63,-62.69,72.61,72.61,8.93,Los Inmigrantes Hotel y Resto Bar
251,Sao Filipe,0,CV,1580607110,48,14.90,-24.50,75.06,75.06,9.46,Hotel Xaguate
330,Presidencia Roque Saenz Pena,0,AR,1580607129,51,-26.79,-60.44,76.33,76.33,4.85,Hotel Gualok
400,Santiago del Estero,0,AR,1580607146,47,-27.80,-64.26,77.40,77.40,8.86,Hotel Casino Carlos V
429,Kyabram,0,AU,1580607155,37,-36.32,145.05,73.22,77.00,8.99,Ky Country Roads Motor Inn
440,Saint-Pierre,0,RE,1580607158,73,-21.34,55.48,72.52,77.00,6.93,LODGE PALMAE
441,Villarrica,0,PY,1580607158,78,-25.75,-56.43,74.77,74.77,1.81,San Miguel Hotel
483,Morondava,0,MG,1580607168,79,-20.28,44.28,72.63,72.63,5.41,Palissandre Cote Ouest resort & SPA

In [14]:
narrowed_city_df = hotel_df[["Hotel Name", "City", "Country"]]
narrowed_city_df

                              Hotel Name                          City Country
40                           Manka Kunda                         Nioro      GM
59                    Abbey Beach Resort                     Busselton      AU
101                           Motel Elba                       Caborca      MX
146                        Hotel GoiÃ¢nia                       Tucurui      BR
165               Hotel Vila Gale Touros                        Touros      BR
182    Los Inmigrantes Hotel y Resto Bar                    Bell Ville      AR
251                        Hotel Xaguate                    Sao Filipe      CV
330                         Hotel Gualok  Presidencia Roque Saenz Pena      AR
400                Hotel Casino Carlos V           Santiago del Estero      AR
429           Ky Country Roads Motor Inn                       Kyabram      AU
440                         LODGE PALMAE                  Saint-Pierre      RE
441                     San Miguel Hotel                    Villarrica      PY
483  Palissandre Cote Ouest resort & SPA                     Morondava      MG

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
#hotel_info

In [17]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info, hover_text="Hotel")
fig.add_layer(markers)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))